/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.hamburger-menu {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 99;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.sidebar .closeBtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
}

.content {
  margin-left: 15px;
  padding: 20px;
}
